
<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/imagenes/ArgProgLogo.jpg" id="APLog">
        </div>

        <div class="redessoc">
            <a href="https://www.instagram.com/winstonjgz/"   id="logInsta"><img src="../../../assets/imagenes/Instagram.jpg" ></a>
            <a href="https://www.linkedin.com/in/winstonjguzman/"   id="logLink"><img src="../../../assets/imagenes/Linkedin.png"></a>
            <a href="https://github.com/winstonjgz"   id="GitLink"><img src="../../../assets/imagenes/GitHub.png"></a>
           <button type="button" class="btn btn-outline-primary"> Acceso </button>
        </div>


    </div>
</div>